<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YJNSOperationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BE28A9F1D6ACA6D005AFD9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BE28AB81D6ACA6D005AFD9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BE28AC31D6ACA6D005AFD9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
